/* ************* */
/* STYLE GLOBALE */
/* ************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    135deg,
    rgb(106, 155, 219),
    rgb(68, 125, 199),
    rgb(13, 55, 109)
  );
  background-size: 400%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* ****** */
/* DEVISE */
/* ****** */

body .container {
  background-color: rgb(250, 250, 250);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

body .container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

body .container .title {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  animation: fadeInDown 1s ease forwards;
  opacity: 0;
}

body .container .converter-form {
  margin-top: 10px;
}

body .container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(85, 85, 85);
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

body .container input,
body .container select,
body .container #convert-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  font-size: 15px;
  transition: border-color 0.3s;
}

body .container input:focus,
body .container select:focus {
  border-color: rgb(13, 55, 109);
  outline: none;
}

body .container #convert-btn {
  background-color: rgb(13, 55, 109);
  color: rgb(250, 250, 250);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

body .container #convert-btn:hover {
  background-color: rgb(106, 155, 219);
  transform: scale(1.05);
}

body .container #result {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body .container .converter-form .currency-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

body .container .converter-form .currency-section .currency-selector {
  display: flex;
  align-items: center;
}

body
  .container
  .converter-form
  .currency-section
  .currency-selector
  .currency-flag {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

body .container .converter-form .currency-section .arrow-icon {
  font-size: 24px;
  color: rgb(13, 55, 109);
  margin: 0 15px;
}

/* Script.css */
